<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
  <meta charset="UTF-8">
  <title>Eggplant Chickens</title>

  <link rel="stylesheet" href="./vendors/bootstrap.min.css">
  <link rel="stylesheet" href="./assets/styles/stylesheet.css">

  <script type="text/javascript" src="./vendors/angular/angular.min.js"></script>
  <script type="text/javascript" src="./vendors/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="./assets/scripts/app.min.js"></script>
</head>

<body>
  <div ng-include="'/assets/views/templates/header.html'"></div>
  <h2>Form for Chick Ordering</h2>
  <form>
  <label>First Name</label>
  <input></input>

  <label>Last Name</label>
  <input></input>

  <label>Phone Number</label>
  <input></input>

  <label>Americauna</label>
  <input type="number"></input>

  <label>Buff Orpington</label>
  <input type="number"></input>

  <label>Barred Rock</label>
  <input type="number"></input>

  <label>Australorp</label>
  <input type="number"></input>

  <label>Silver Laced Wyandotte</label>
  <input type="number"></input>

  <label>California White</label>
  <input type="number"></input>

  <label>Rhode Island Red</label>
  <input type="number"></input>

  <label>Gold Star</label>
  <input type="number"></input>
  </form>
</body>
</html>
